.register-form {
  margin-left: auto !important;
  justify-content: center !important;
  margin-top: 0px;
  padding-top: 0px;
}
form {
  border: 1px solid gray;
  width: 70%;
  margin: 0 auto 10px auto !important;
  box-shadow: 5px 3px 5px 5px gray;
}

label {
  font-weight: 600;
}
input {
  color: #f9a51a;
}
.all-box {
  padding: 40px 30px !important;
}
.register-form button {
  width: 100%;

  font-weight: 500;
}
