.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: auto;
  left: 0;
  background-color: lightgray;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 3px 0 6px gray;
}

.admin-menu {
  padding: 6px 8px 10px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  display: block;
}

.admin-menu:hover {
  font-weight: 400;
  color: #aa8b01 !important;
  text-shadow: 0 0 5px rgb(255 202 0);
  text-decoration: none;
}

.form-section {
  background-color: lightgray;
  width: 92%;
  margin-left: 112px;
  margin-right: 20px;
  padding: 20px 30px;
  border: 1px solid gray;
  box-shadow: 0px 0px 5px 2px grey;
}
.create-form {
  border: 0;
  width: auto;
  margin: auto !important;
  box-shadow: none !important;
}
input {
  color: #f9a51a;
}
.form-control-file {
  color: rgb(11, 143, 167) !important;
}
.create-btn button {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
}
